<p id="notice"></p>
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <%= form_with model: @user, method: :patch do |f| %>
      <div>Name</div>
      <%= f.text_field :name %><br>
      <label for="user_Image">Image</label><br>
      <%= f.file_field :profileimage, placeholder: "プロフィール画像", accept: "image/*" %>
      <div>introduction</div>
      <%= f.text_area :introduction %><br> 
      <%= f.submit 'Update User' %>     
    <% end %>
  </div>
</div>